<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- 1. 添加视口 -->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>搜索页面</title>
    <!-- 2. 引包 -->
    <!-- 1. 引入mui的CSS -->
    <link rel="stylesheet" href="lib/mui/css/mui.css">
    <!-- 2. 引入字体图标的CSS -->
    <link rel="stylesheet" href="lib/fontAwesome/css/font-awesome.css">
    <!-- 3. 引入搜索的less文件 -->
    <link rel="stylesheet/less" href="less/search.less">
    <!-- 4. 引入less.js编译器文件 -->
    <script src="lib/less/less.js"></script>
    <!-- 5. 在页面前引入rem.js 等页面加载出来之前生效样式马上执行 -->
    <script src="js/rem.js"></script>
    <style>
        .input-warning {
            border: 1px solid red !important;
        }
    </style>
</head>

<body>
    <!-- 头部区域 -->
    <header id="header">
        <!-- javascript:history.back(); 使用历史记录的返回上一页的函数 -->
        <a href="javascript:history.back();" class="fa fa-arrow-left"></a>
        <h4>搜索中心</h4>
    </header>
    <!-- 主体区域 -->
    <main id="main">
        <!-- 搜索表单 -->
        <div class="search-form">
            <form action="#">
                <input type="search" placeholder="请输入要搜索商品" class="input-search" v-model="txtInput" :class="{'input-warning':isInputWarning}">
                <button type="button" class="mui-btn mui-btn-primary btn-search" @click='search'>搜索</button>
            </form>
        </div>
        <!-- 搜索历史 -->
        <div class="search-history">
            <!-- 使用卡片布局 -->
            <div class="mui-card">
                <!-- 卡片的头部 自带左右对齐-->
                <div class="mui-card-header">
                    <span>搜索历史</span>
                    <a href="#" class="fa fa-trash btn-clear" @click.prevent="clearHistory">清空记录</a>
                </div>
                <!-- 卡片的内容 -->
                <div class="mui-card-content">
                    <ul class="mui-table-view">
                        <li class="mui-table-view-cell" v-for='(history,index) in searchHistory' :key="index">{{history}}
                            <span class="fa fa-close mui-badge" @click='deleteHistory(index)'></span>
                        </li>
                        <li v-if="!searchHistory.length" class="mui-table-view-cell">暂无搜索记录</li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <!-- 底部区域 -->
    <footer id="footer">
        <div class="mui-row">
            <!-- .mui-col-xs-3*4>a[href="#"]>i.fa.fa-home+span{首页} -->
            <div class="mui-col-xs-3 ">
                <a href="index.html"><i class="fa fa-home"></i><span>首页</span></a>
            </div>
            <div class="mui-col-xs-3">
                <a href="category.html" class="active"><i class="fa fa-bars"></i><span>分类</span></a>
            </div>
            <div class="mui-col-xs-3">
                <a href="cart.html"><i class="fa fa-shopping-cart"></i><span>购物车</span></a>
            </div>
            <div class="mui-col-xs-3">
                <a href="user.html"><i class="fa fa-user"></i><span>个人中心</span></a>
            </div>
        </div>
    </footer>

    <!-- 1. 引入mui的JS -->
    <script src="lib/mui/js/mui.js"></script>

    <!-- 3. 引入zepto的JS ajax dom操作的Js库 -->
    <script src="lib/zepto/zepto.min.js"></script>
    <!-- 4. 引入Vue -->
    <script src="lib/vue.js"></script>
</body>
<script>
    let vm = new Vue({
        el: '#main',
        data: {
            searchHistory: [],  //搜索记录数据初始化
            txtInput: '',   //与文本框进行双向绑定
            isInputWarning:false,   //初始化输入框的警示边框
        },
        computed: {
            getSearchWord: function () {
                // 去掉输入框左右两侧的空格
                return this.txtInput.replace(/(^\s*)|(\s*$)/g, "");
            }
        },
        methods: {
            // 单击[搜索]按钮事件
            search: function () {
                if (this.getSearchWord) {
                    if (this.searchHistory.indexOf(this.getSearchWord) != -1)
                        this.searchHistory.splice(this.searchHistory.indexOf(this.getSearchWord), 1);
                    this.searchHistory.unshift(this.getSearchWord);
                    // localStorage.setItem('searchHistory',JSON.stringify(this.searchHistory));
                    this.txtInput = '';
                }else{
                    // 当用户提交空搜索时,使用红色边框提示用户,持续3秒钟.
                    this.isInputWarning = true;
                    setTimeout(()=>this.isInputWarning = false,3000);
                }
            },

            // 删除单条历史记录
            deleteHistory: function (idx) {
                this.searchHistory.splice(idx, 1);
            },

            // [清空记录]单击事件
            clearHistory: function () {
                // localStorage.removeItem('searchHistory');
                // 点击[清空记录]按钮后,只需要初始化vm实例的searchHistory即可,其他的交由watch数据监听选项来处理.
                this.searchHistory = Array();
            }
        },
        created() {
            // 当vm实例的data选项初始化完成后即从localstorage里获取数据;
            if (localStorage.getItem('searchHistory')) {
                this.searchHistory = JSON.parse(localStorage.getItem('searchHistory'));
            }
        },
        // 数据监听
        watch: {
            searchHistory: {
                handler: function () {
                    // console.log('搜索列表数据有变动!');
                    // 当搜索列表数据有变动时,与localstorage同步更新
                    if (this.searchHistory.length == 0)
                        localStorage.removeItem('searchHistory');
                    else
                        localStorage.setItem('searchHistory', JSON.stringify(this.searchHistory));
                },
                deep: true
            }
        }
    })
</script>

</html>